# ROSA-Server-6.5.1-x86_64-netinst.iso
rpm1-moskow     ansible_ssh_port=2224 ansible_ssh_host=127.0.0.1
# ROSA.FRESH.KDE.R4.5609.b.x86_64.iso
rpm2-moskow     ansible_ssh_port=2225 ansible_ssh_host=127.0.0.1
# ubuntu-14.04.1-server-amd64.iso
rpm3-moskow     ansible_ssh_port=2226 ansible_ssh_host=127.0.0.1

iso1-moskow     ansible_ssh_port=2227 ansible_ssh_host=127.0.0.1
publish1-moskow ansible_ssh_port=2228 ansible_ssh_host=127.0.0.1

[abf-worker-rpm-moskow]
rpm1-moskow abf_token='server-abf-worker-rpm-1' platform_type='rhel' platform_name='rosa-server65'
rpm2-moskow abf_token='server-abf-worker-rpm-2' platform_type='mdv' 
rpm3-moskow abf_token='server-abf-worker-rpm-3' platform_type='deb'

[abf-worker-rpm-moskow:vars]
file_store_ip     = 195.19.76.233
file_store_domain = file-store.rosalinux.ru
abf_ip1           = 195.19.76.241
abf_domain1       = abf.rosalinux.ru
abf_ip2           = 195.19.76.241
abf_domain2       = abf.io
max_workers_count = 2
vm_x86_64         = 512
vm_i586           = 512
vm_cpus           = 2
use_log_server    = false

[abf-worker-rpm:children]
abf-worker-rpm-moskow

[abf-worker-rpm:vars]
log_server_host=0.0.0.0
resque_redis=0.0.0.0:6379



[abf-worker-iso-moskow]
iso1-moskow abf_token='server-abf-worker-iso-1'

[abf-worker-iso-moskow:vars]
file_store_ip     = 195.19.76.233
file_store_domain = file-store.rosalinux.ru
abf_ip1           = 195.19.76.241
abf_domain1       = abf.rosalinux.ru
abf_ip2           = 195.19.76.241
abf_domain2       = abf.io

[abf-worker-iso:children]
abf-worker-iso-moskow

[abf-worker-iso:vars]
resque_redis=0.0.0.0:6379
log_server_host=0.0.0.0



[abf-worker-publish-moskow]
127.0.0.1:2226 abf_token='server-abf-worker-publish-1'

[abf-worker-publish:children]
abf-worker-publish-moskow

[abf-worker-publish:vars]
resque_redis=0.0.0.0:6379
log_server_host=0.0.0.0



[abf-worker:children]
abf-worker-rpm
# abf-worker-iso
# abf-worker-publish

[abf-worker:vars]
# ansible_ssh_user=root   Comment because remote_user dont rewrite this

# our public key
airbrake_api_key='3c6209710087bfb53bd9604040a9c6ef'
abf_url='https://abf.rosalinux.ru'
file_store_url='http://file-store.rosalinux.ru'

