---

- name: create user rosa
  user: state=present name={{ user }} createhome=yes shell=/bin/bash generate_ssh_key=yes

- name: adds rosa own key to authorized_keys
  shell: "cat /home/{{ user }}/.ssh/id_rsa.pub > /home/{{ user }}/.ssh/authorized_keys"

- name: configure sudoers
  lineinfile: >
    dest=/etc/sudoers
    backup=yes
    state=present
    regexp='^%{{ user }}'
    line='%{{ user }} ALL=(ALL) NOPASSWD: ALL'
  tags: config-sudoers

- name: disable 'Defaults    requiretty' in sudoers
  lineinfile: >
    dest=/etc/sudoers
    backup=yes
    state=present
    regexp='^Defaults[\s]+requiretty'
    line='# Defaults requiretty'
  tags: config-sudoers

- include: access.yml

