common: &common
  airbrake_api_key: {{ airbrake_api_key }}
  abf_url: {{ abf_url }}
  file_store:
    url: '{{ file_store_url }}/api/v1/file_stores'
    create_url: '{{ file_store_url }}/api/v1/upload'
    token: {{ abf_token }}
  scripts:
    mdv:
      path: 'https://abf.rosalinux.ru/abf/mdv-scripts/archive/'
      treeish: mdv-scripts-lxc
    rhel:
      path: 'https://abf.rosalinux.ru/abf/rhel-scripts/archive/'
      treeish: rhel-scripts-lxc
  max_workers_count: 4
  supported_platforms: ''
  supported_arches: ''
  log_server:
    host: {{ log_server_host }}
    port: 6379

  # Fix for DNS problems, configure proxy and etc
  vm_configs:
    - sudo /bin/bash -c 'echo "{{ file_store_ip }} {{ file_store_domain }}" >> /etc/hosts'
    - sudo /bin/bash -c 'echo "{{ abf_ip1 }} {{ abf_domain1 }}" >> /etc/hosts'
    - sudo /bin/bash -c 'echo "{{ abf_ip2 }} {{ abf_domain2 }}" >> /etc/hosts'
    # Only for hetzner
    # - sudo /bin/bash -c 'echo "export ABF_DOWNLOADS_PROXY=176.9.26.227:3128" >> /etc/profile'

production:
  <<: *common
  tmp_path: {{ store_path }}/tmp/abf-worker-tmp
  vms_path: /home/{{ user }}/boxes
  abf_api:
    url: {{ abf_url }}
    token: {{ abf_token }}
  vm:
    x86_64: 8192
    i586: 4096
    cpus: 3
