---

- name: check capistrano
  command: rvm {{ ruby_version }}@abf-worker-deploy do cap -V
  register: check_capistrano
  ignore_errors: yes

- name: stop workers
  command: >
    rvm {{ ruby_version }}@abf-worker-deploy do bundle exec cap production deploy:stop ENV=production
    chdir={{ deploy_to }}/scm
  ignore_errors: yes
  when: check_capistrano|success

- name: clone repo
  git: >
    repo={{ repo }}
    version={{ branch }}
    dest={{ deploy_to }}/scm
    update=true force=true
  environment:
    GIT_SSL_NO_VERIFY: true
  register: clone_result

- name: creates rvm gemset for deploy
  shell: rvm ruby-{{ ruby_version }} do rvm {{ ruby_version }}@abf-worker-deploy --create

- name: ensure abf-worker bundle is installed
  command: >
    rvm {{ ruby_version }}@abf-worker-deploy do bundle install --without test
    chdir={{ deploy_to }}/scm

- name: creates config/deploy.rb
  template: src=deploy.rb dest={{ deploy_to }}/scm/config/deploy.rb owner={{ user }}

- name: creates config/deploy/production.rb
  template: >
    src=production.rb
    dest={{ deploy_to }}/scm/config/deploy/production.rb
    owner={{ user }}

- name: creates config/application.yml
  template: src=application.yml dest={{ deploy_to }}/scm/config/application.yml owner={{ user }}

- name: run deploy:update
  command: >
    rvm {{ ruby_version }}@abf-worker-deploy do bundle exec cap production deploy:update ENV=production
    chdir={{ deploy_to }}/scm
