---

- name: Updates hosts file
  lineinfile: dest=/etc/hosts regexp='{{ item.host }}$' line='{{ item.ip }} {{ item.host }}' owner=root group=root mode=0644
  sudo: yes
  with_items:
    - { ip: '195.19.76.233', host: 'file-store.rosalinux.ru' }
    - { ip: '195.19.76.241', host: 'abf.rosalinux.ru' }
    - { ip: '195.19.76.241', host: 'abf.io' }
