---

- include: hosts.yml

- name: set default rvm gemset
  shell: rvm ruby-{{ ruby_version }} do rvm --default use {{ ruby_version }}@abf-worker --create

- include: "deb/main.yml"
  when: platform_type == 'deb'

- include: "rhel/main.yml"
  when: platform_type == 'rhel'

- include: "mdv/main.yml"
  when: platform_type == 'mdv'

- name: Creates store directory
  sudo: yes
  file: path={{ store_path }} state=directory mode=777 owner={{ user }} group={{ user }}

- name: Create directories
  file: path={{ item }} state=directory
  with_items:
    - "{{ deploy_to }}"
    - "{{ deploy_to }}/releases"
    - "{{ deploy_to }}/shared/config"
    - "{{ deploy_to }}/shared/log"
    - "{{ deploy_to }}/shared/pids"
    - "{{ deploy_to }}/scm"
    - "{{ store_path }}/lxc-containers"
    - "{{ store_path }}/tmp"
    - "{{ store_path }}/tmp-vagrant-boxes"
    - "{{ store_path }}/vagrant-boxes"
    - "/home/{{ user }}/.vagrant.d"

- name: Create links
  file: src={{ item.src }} dest={{ item.dest }} state=link
  with_items:
    - { src: '{{ store_path }}/vagrant-boxes', dest: '/home/{{ user }}/boxes' }
    - { src: '{{ store_path }}/tmp-vagrant-boxes', dest: '/home/{{ user }}/.vagrant.d/boxes' }

# Determine if a path exists and is a directory.  Note we need to test
# both that p.stat.isdir actually exists, and also that it's set to true.
- name: Determines type of /var/lib/lxc
  stat: path=/var/lib/lxc
  register: var_lib_lxc

- name: removes /var/lib/lxc directory
  file: path=/var/lib/lxc state=absent
  sudo: yes
  when: var_lib_lxc.stat.isdir is defined and var_lib_lxc.stat.isdir == true

- name: creates link to /var/lib/lxc directory
  sudo: yes
  file: >
    src={{ store_path }}/lxc-containers
    dest=/var/lib/lxc
    state=link

- name: creates resque.yml
  template: src=resque.yml dest={{ deploy_to }}/shared/config/resque.yml owner={{ user }}

- name: creates application.yml
  template: src=application.yml dest={{ deploy_to }}/shared/config/application.yml owner={{ user }}

- include: deploy.yml
