---

# - hosts: deb-hosts
#   include: "deb/main.yml"

# - hosts: rhel-hosts
#   include: "rhel/main.yml"

- include: "mdv/main.yml"
  when: platform_type == 'mdv'

- include: "deb/main.yml"
  when: platform_type == 'deb'

- include: default.yml
